[Desktop Entry]
Name=Ryngo
Comment=Ryngo Terminal
Keywords=shell;prompt;command;commandline;cmd;
Icon=dev.ryngo.terminal
StartupWMClass=dev.ryngo.terminal
TryExec=ryngo
Exec=ryngo start --cwd .
Type=Application
Categories=System;TerminalEmulator;Utility;
Terminal=false
